Repository vhscom/chicagoganghistory-helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-wp-cli, build-wp, lint-helm, package-chart, release-helm

build-wp-cli:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

build-wp:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
  ...

lint-helm:
  stage: lint-helm-chart
  script:
  - helm dep update
  - helm lint .
  artifacts:
    paths:
    - charts/**
    expire_in: 1 week
    when: always
  allow_failure: true

package-chart:
  stage: package-helm-chart
  script:
  - helm package .
  artifacts:
    paths:
    - wordpress-*
    expire_in: 1 week

release-helm:
  image: rancher/curlimages-curl:7.73.0
  stage: release-helm-chart
  script:
  - if [ "$CI_COMMIT_BRANCH" == "main" ]; then export HELM_CHANNEL='stable'; else export HELM_CHANNEL='unstable'; fi
  - export CHART_FILE=$(ls wordpress-*.tgz)
  ...

change wp_debug values
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli, lint-helm

link to auto upgrade docs, set automatic_updater_disabled default to false
  values.yaml
Due: lint-helm

add debug variables to values-local.yaml.example
  values-local.yaml.example
Due: none

edit changelog
  CHANGELOG.md
Due: none

Update Helm release redis to v16.4.0
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release mariadb to v10.3.4
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release mariadb to v10.3.5
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update dependency php to v8.1.3
  wp-docker/Dockerfile
Due: build-wp

Update Helm release mariadb to v10.3.6
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update dependency WordPress/WordPress to v5.9.1
  values.yaml
Due: lint-helm

Update Helm release redis to v16.4.1
  Chart.yaml
Due: lint-helm, package-chart, release-helm

remove wp-content repo functionality and make wp-content persistent (if persistence is enabled)
  README.md
  templates/statefulset.yaml
  templates/wordpress-pvc.yaml
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-backup/tasks/main.yml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
  wp-cli-docker/roles/wordpress-init/tasks/wp-content-repo.yml
Due: build-wp-cli, lint-helm

remove theme_active and theme_fallback setting
  CHANGELOG.md
  Chart.yaml
  README.md
  templates/statefulset.yaml
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli, lint-helm, package-chart, release-helm

process review
  README.md
  wp-cli-docker/roles/wordpress-backup/tasks/main.yml
Due: build-wp-cli

install twentytwentytwo theme by default (which is set by WP by default)
  values.yaml
Due: lint-helm

improve WordPress setup section of README
  README.md
Due: none

Update Helm release redis to v16.4.2
  Chart.yaml
Due: lint-helm, package-chart, release-helm

fix tags for wordpress containers
  CHANGELOG.md
  Chart.yaml
  values.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release mariadb to v10.3.7
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release redis to v16.4.4
  Chart.yaml
Due: lint-helm, package-chart, release-helm

build: 📦️ minimum functional k3s deployment
  Chart.lock
  values-local.yaml.example
Due: none

build: 📦️ valkyrie theme installation
  values-local.yaml.example
Due: none

build: 📦️ enable redis and mu plugins
  values-local.yaml.example
  values.yaml
Due: lint-helm

build: 📦️ upgrade block-bad-queries plugin to verson 20220122
  values-local.yaml.example
Due: none

build: 📦️ enable wordpress database migrations plugin
  values-local.yaml.example
Due: none

build: 📦️ enable core content plugins
  values-local.yaml.example
Due: none

build: 📦️ enable security plugins
  values-local.yaml.example
Due: none

build: 📦️ enable functionality plugins
  values-local.yaml.example
Due: none

chore(deps): 🔗 bump child theme patch release
  values-local.yaml.example
Due: none

feat: ✨ add disaster recovery utilities
  recovery/dataaccess-wp-content.yaml
  recovery/krsync
Due: none

build: 📦️ configure traefik ingress
  values-local.yaml.example
Due: none

build: 📦️ allow installing wordpress on a specific node
  values-local.yaml.example
Due: none

docs: 📚️ add title and description
  README.md
Due: none

docs: 📚️ add website screenshot
  .helmignore
  chicagoganghistory-k3s-valkyrie-fs8.png
Due: none

chore(security): 🔧 🔒️ add tls clusterissuers for cert-manager
  letsencrypt-issuer-prod.yaml
  letsencrypt-issuer-staging.yaml
Due: lint-helm

build: 📦️ enable letsencrypt production
  values-local.yaml.example
Due: none

build: 📦️ enable analytics and adsense
  values-local.yaml.example
Due: none

Path conditions:
  build-wp-cli: any of: wp-cli-docker/**/**/*, .gitlab-ci.yml
  build-wp: any of: wp-docker/**, .gitlab-ci.yml
  lint-helm: any of: *.yaml, templates/*.yaml
  package-chart: any of: Chart.yaml
  release-helm: any of: Chart.yaml
