Repository vhscom/chicagoganghistory-helm: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-wp-cli, build-wp, lint-helm, package-chart, release-helm

.gitlab-ci.yml:

---
image:
  name: alpine/helm:3.7.1
  entrypoint: ["/bin/sh", "-c"]

# A Gitlab CI job template for building docker images using kaniko.
#
# Required environment variables:
# - KANIKO_BUILD_IMAGENAME: Build/target image name.
#   Images will be named like
#     `open.greenhost.net:4567/GROUP/PROJECT/KANIKO_BUILD_IMAGENAME:TAG`
#   , where TAG is the CI_COMMIT_REF_SLUG, and also the CI_COMMIT_TAG if set.
#
# Optional environment variables:
# - KANIKO_CONTEXT: The subdir which holds the Dockerfile, leave unset if
#                   the Dockerfile is located at root level of the project.
.kaniko_build:
  stage: build
  image:
    # We need a shell to provide the registry credentials, so we need to use the
    # kaniko debug image (https://github.com/GoogleContainerTools/kaniko#debug-image)
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - if [ -n "${CI_COMMIT_TAG}" ]; then export KANIKO_BUILD_TAGNAME="${CI_COMMIT_TAG}"; else export KANIKO_BUILD_TAGNAME="${CI_COMMIT_REF_SLUG}"; fi
    - /kaniko/executor --cache=true --context ${CI_PROJECT_DIR}/${KANIKO_CONTEXT:-.} --dockerfile ${CI_PROJECT_DIR}/${KANIKO_CONTEXT:-.}/Dockerfile --destination ${CI_REGISTRY_IMAGE}/${KANIKO_BUILD_IMAGENAME}:${KANIKO_BUILD_TAGNAME}

stages:
  - build
  - lint-helm-chart
  - package-helm-chart
  - release-helm-chart

build-wp-cli:
  stage: build
  variables:
    KANIKO_BUILD_IMAGENAME: wordpress-cli-ansible
    KANIKO_CONTEXT: wp-cli-docker
  extends: .kaniko_build
  # Run this job if files have changed that are used when building the docker
  # image, or when the commit is a tag.
  rules:
    - changes:
        - wp-cli-docker/**/**/*
        - .gitlab-ci.yml
      when: on_success
    - if: '$CI_COMMIT_TAG'
      when: on_success

build-wp:
  stage: build
  variables:
    KANIKO_BUILD_IMAGENAME: wordpress
    KANIKO_CONTEXT: wp-docker
  extends: .kaniko_build
  # Run this job if files have changed that are used when building the docker
  # image, or when the commit is a tag.
  rules:
    - changes:
        - wp-docker/**
        - .gitlab-ci.yml
      when: on_success
    - if: '$CI_COMMIT_TAG'
      when: on_success

# Only package a new chart once the version number has been updated
.chart_release_rules:
  rules:
    - changes:
      - Chart.yaml

lint-helm:
  stage: lint-helm-chart
  script:
    - helm dep update
    - helm lint .
  artifacts:
    paths:
      - 'charts/**'
    expire_in: 1 week
    # Even if lint fails, upload the charts/ folder as artifact
    when: always
  allow_failure: true
  rules:
    - changes:
      - '*.yaml'
      - templates/*.yaml

package-chart:
  stage: package-helm-chart
  script:
    - helm package .
  artifacts:
    paths:
      - wordpress-*
    expire_in: 1 week
  extends:
    - .chart_release_rules

# Push helm chart. Charts on the `main` branch are pushed to `stable`, others
# are pushed to the `unstable` channel.
release-helm:
  image: "rancher/curlimages-curl:7.73.0"
  stage: release-helm-chart
  script:
    - if [ "$CI_COMMIT_BRANCH" == "main" ]; then export HELM_CHANNEL='stable'; else export HELM_CHANNEL='unstable'; fi
    - export CHART_FILE=$(ls wordpress-*.tgz)
    - curl --fail --request POST --user gitlab-ci-token:$CI_JOB_TOKEN --form "chart=@${CHART_FILE}" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/helm/api/${HELM_CHANNEL}/charts"
  extends:
    - .chart_release_rules

use remote version
  .gitlab-ci.yml
Due: build-wp-cli, build-wp

try with a pipeline for MR
  .gitlab-ci.yml
Due: build-wp-cli, build-wp

add temporary test job
  .gitlab-ci.yml
Due: build-wp-cli, build-wp

remove temporary job
  .gitlab-ci.yml
Due: build-wp-cli, build-wp

Apply 1 suggestion(s) to 1 file(s)
  .gitlab-ci.yml
Due: build-wp-cli, build-wp

Update Helm release redis to v15.6.4
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release mariadb to v10.1.1
  Chart.yaml
Due: lint-helm, package-chart, release-helm

revert to php 8.0 for WP-CLI temporarily
  wp-cli-docker/Dockerfile
Due: build-wp-cli

Update Helm release redis to v15.6.7
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update php Docker tag to v8.1.1
  wp-docker/Dockerfile
Due: build-wp

update WP PHP image to 8.1.1
  CHANGELOG.md
  Chart.yaml
  values.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release redis to v15.6.8
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update dependency WordPress/WordPress to v5.8.3
  values.yaml
Due: lint-helm

Update Helm release redis to v15.7.4
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release mariadb to v10.3.1
  Chart.yaml
Due: lint-helm, package-chart, release-helm

let Renovate bump the Charts patch version on dependency upgrades
  renovate.json
Due: none

Update Helm release redis to v15.7.5
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release mariadb to v10.3.2
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release redis to v16
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update php Docker tag to v8.1.2
  wp-docker/Dockerfile
Due: build-wp

Update Helm release redis to v16.1.1
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update wordpress Docker tag to vcli-2.6.0-php8.1
  wp-cli-docker/Dockerfile
Due: build-wp-cli

release 0.4.9
  CHANGELOG.md
  Chart.yaml
  RELEASING.md
  values.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release redis to v16.2.1
  Chart.yaml
Due: lint-helm, package-chart, release-helm

Update Helm release redis to v16.3.0
  Chart.yaml
Due: lint-helm, package-chart, release-helm

add possibility to choose mu_plugin URL
  values-local.yaml.example
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins-cron.yml
Due: build-wp-cli

change the mu_plugins structure to make more sense when you use it with Ansible
  values-local.yaml.example
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins-cron.yml
Due: build-wp-cli

fix second usage of mu_plugins array
  delete.sh
  values-local.yaml.example
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins.yml
Due: build-wp-cli

remove ".values" from mu_plugins usage
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins.yml
Due: build-wp-cli

update fallback theme, use "path" instead of "slug" for mu_plugins path
  values-local.yaml.example
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/mu-plugins.yml
Due: build-wp-cli, lint-helm

set WP_DEBUG_LOG instead of WP_DEBUG so deprecation warnings do not break your site
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli, lint-helm

set WP_DEBUG *and* WP_DEBUG_LOG
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli

add fine-grained debug logging control
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli, lint-helm

Fix WP_DEBUG_DISPLAY, install plugin as wp_default_plugin
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli, lint-helm

make installing normal plugins easier
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli, lint-helm

improve examples in values-local.yaml.example
  values-local.yaml.example
Due: none

Update version info
  CHANGELOG.md
  Chart.yaml
  values.yaml
Due: lint-helm, package-chart, release-helm

add variables that control auto-updates and file edits
  values.yaml
  wp-cli-docker/roles/wordpress-init/tasks/main.yml
Due: build-wp-cli, lint-helm

update chart version to 0.5.1
  CHANGELOG.md
  Chart.yaml
  values.yaml
Due: lint-helm, package-chart, release-helm

update -> updates
  values.yaml
Due: lint-helm
